<!-- <app-header></app-header> -->
<!-- <ul>
<li routerLink="products">Products</li>
<li routerLink="cart">cart</li>
</ul> -->
<div class = "content-body">
  <!-- <app-products></app-products> -->
  <router-outlet></router-outlet>
</div>

<div>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class=" navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/" class="nav-link active" aria-current="page">Home</a>
        </li>
          <li class="nav-item">
            <a routerLink="/login" class="nav-link active" aria-current="page">Login</a>  
          </li>
          <li class="nav-item">
            <a routerLink="/products" class="nav-link active" aria-current="page">Products</a>  
          </li>
          <li class="nav-item">
            <a routerLink="/cart" class="nav-link active" aria-current="page">Cart</a>  
          </li>
          
        </ul>
      </div>
    </div>
    </nav>
  <router-outlet></router-outlet>
</div>